Package: rockpi-sata
Version: 0.14
Architecture: all
Maintainer: Radxa <dev@radxa.com>
Depends: python3
Section: utils
Priority: optional
Homepage: https://github.com/akgnah/rockpi-sata
Description: Rockpi SATA Hat
